#climate_highlights_nav h2 {
	text-align: center;
}

#climate_highlights_nav div.buttons {
	margin: 1ex auto 2em;
}

#climate_highlights div.logos {
	margin: 1em auto;
}

#climate_highlights div.logos img {
	height: 70px;
	display: inline-block;
	margin: 0 1em;
}

#climate_highlights_lists ul li {
	cursor: pointer;
}

#climate_highlights_lists ul li:hover {
	text-decoration: underline;
}

#climate_highlight_modal div.modal-header h3 {
	height: 2em;
	padding-left: 48px;
	line-height: 2em;
}

h3.high-temperatures {
	background: transparent url(../img/icons/high-temperatures.gif) left center no-repeat;
} 

h3.low-temperatures {
	background: transparent url(../img/icons/low-temperatures.gif) left center no-repeat;
} 

h3.high-rain {
	background: transparent url(../img/icons/high-rain.gif) left center no-repeat;
}

h3.low-rain {
	background: transparent url(../img/icons/low-rain.gif) left center no-repeat;
}

h3.high-snow {
	background: transparent url(../img/icons/high-snow.gif) left center no-repeat;
}

h3.low-snow {
	background: transparent url(../img/icons/low-snow.gif) left center no-repeat;
}

h3.blizzard {
	background: transparent url(../img/icons/blizzard.gif) left center no-repeat;
}

h3.lightning {
	background: transparent url(../img/icons/lightning.gif) left center no-repeat;
}

h3.wildfire {
	background: transparent url(../img/icons/wildfire.gif) left center no-repeat;
}

h3.icing {
	background: transparent url(../img/icons/icing.gif) left center no-repeat;
}

h3.drought {
	background: transparent url(../img/icons/drought.gif) left center no-repeat;
}

h3.cyclone {
	background: transparent url(../img/icons/cyclone.gif) left center no-repeat;
}

h3.wind {
	background: transparent url(../img/icons/wind.gif) left center no-repeat;
}

h3.flooding {
	background: transparent url(../img/icons/flooding.gif) left center no-repeat;
} 

h3.sea-ice-changes {
	background: transparent url(../img/icons/sea-ice-changes.gif) left center no-repeat;
} 

h3.freezing-rain {
	background: transparent url(../img/icons/freezing-rain.gif) left center no-repeat;
} 

h3.unusual-animal-sighting {
	background: transparent url(../img/icons/unusual-animal-sighting.gif) left center no-repeat;
} 

