<!DOCTYPE html>
<html>
<head>
	<title>Climate Highlights</title>

  <script type="text/javascript" src="assets/jquery-1.8.0.min.js"></script>
  <script type="text/javascript" src="assets/underscore-min.js"></script>
  <script type="text/javascript" src="assets/backbone-min.js"></script>
  <script type="text/javascript" src="assets/moment.min.js"></script>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD396FFxND65ixBJPkbJ6WpM0V3Q-KEExo&amp;sensor=false"></script>

  <script type="text/javascript" src="assets/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/ch.css">

  <!-- include source files here... -->
  <script type="text/javascript" src="app/CH.js"></script>
  <script type="text/javascript" src="app/models/ClimateHighlightsApp.js"></script>
  <script type="text/javascript" src="app/models/ClimateHighlight.js"></script>
  <script type="text/javascript" src="app/views/ClimateHighlightsApp.js"></script>
  <script type="text/javascript" src="app/views/ClimateHighlightModal.js"></script>
  <script type="text/javascript" src="app/views/ClimateHighlightsLists.js"></script>
  <script type="text/javascript" src="app/views/ClimateHighlightListItem.js"></script>
  <script type="text/javascript" src="app/views/Navigation.js"></script>
  <script type="text/javascript" src="app/views/Map.js"></script>
  <script type="text/javascript" src="app/collections/ClimateHighlights.js"></script>
  
  <script type="text/javascript" src="test/fixtures.js"></script>

  <style type="text/css">
    /* see https://github.com/twitter/bootstrap/issues/1552 */
    #climate_highlights_map label { width: auto; display:inline; }
    #climate_highlights_map img { max-width: none; }
  </style>


<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    
</head>

<body>

<div id="climate_highlights" class="container">

<div class="page-header">

<h1>Alaska Weather &amp; Climate Highlights</h1>

</div>

<div class="row">
  <div class="span4">
    <div class="well">
      <div id="climate_highlights_nav"></div>
      <div id="climate_highlights_lists"></div>
    </div>

  <div class="buttons">
    <a class="about btn btn-info" data-toggle="modal" href="#climate_highlights_modal_about">About</a>
    <a class="staff-contact btn btn-info" data-toggle="modal" href="#climate_highlights_modal_staff-contact">Contact</a>
  </div>

  </div>
  <div class="span8">

<div id="climate_highlights_map" style="width: 100%; min-height: 600px; border: 1px solid #aaa"></div>

<div class="logos">
  <a class="accap" href="http://accap.uaf.alaska.edu"><img src="img/ACCAP.png" alt="ACCAP Logo" /></a>
  <a class="noaa" href="http://www.noaa.gov/"><img src="img/IARC_logo_notext.jpeg" alt="NOAA Logo" /></a>
  <a class="acrc" href="http://akclimate.org/"><img src="img/acrc_logo_transparent.gif" alt="ACRC Logo" /></a>
  <a class="iarc" href="http://www.iarc.uaf.edu/"><img src="img/noaa.png" alt="IARC Logo" /></a>
</div>


</div>
</div>

</div>

<!-- to be filled in by the ClimateHighlightModal view -->
<div id="climate_highlight_modal" class="modal hide"></div>

<div class="modal hide" id="climate_highlights_modal_about">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>About</h3>
  </div>
  <div class="modal-body">
    <p>about text</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>

<div class="modal hide" id="climate_highlights_modal_staff-contact">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>Staff / Contact</h3>
  </div>
  <div class="modal-body">
    <p>staff/contact</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>

<!-- templates -->
<script type="text/html" id="template-navigation">
<h2><%= month %></h2>
<div class="buttons">
<button class="btn btn-nav previous"><i class="icon-circle-arrow-left"></i>&nbsp;<span><%= previous %></span></button>
<button class="btn btn-nav next pull-right"><span><%= next %></span>&nbsp;<i class="icon-circle-arrow-right"></i></button>
</div>
</script>

<script type="text/html" id="template-climate-highlight-list-item">
<span class="summary"><%= summary %></span>&nbsp;<i class="icon-zoom-in"></i>
</script>

<script type="text/html" id="template-climate-highlight-modal">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3 class="<%= kind %>"><%= title %></h3>
  </div>
  <div class="modal-body">
    <h4><%= summary %></h4>
    <div class="description"><%= description %></div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>

</script>

</body>

<script type="text/javascript">
$(function() {
	var router = new CH.router;
	Backbone.history.start();
});
</script>


</html>